<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SoftwareManagerConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SoftwareManager_Simple;Integrated Security=True;MultipleActiveResultSets=True;App=SoftwareManager DB Migrations;Connection Timeout=9000"/>
  </connectionStrings>
</configuration>